<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="board">
  <xacro:include filename="$(find skate)/description/board/urdf/robot_core.xacro" />
  <xacro:include filename="$(find skate)/description/board/urdf/gazebo_control.xacro" />
  <xacro:include filename="$(find skate)/description/board/urdf/ros2_control.xacro" />

  <!-- Include the ros2_control configuration -->
  <xacro:skate_ros2_control name="skate_control"/>
</robot>